h1,
h2,
h3,
p,
a,
li {
  font-family: "Inter", sans-serif;
}

h1 h2 h3 {
  font-weight: 500;
  line-height: 1.45;
  color: #2c3e50;
}
h1 {
  font-size: clamp(1.9rem, 2.5vw, 2.5rem);
  font-weight: 600;
}
h2 {
  font-size: clamp(1.6rem, 2.5vw, 2.3rem);
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
}
h3 {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}
p,
a,
li {
  font-size: clamp(1rem, 2.5vw, 1.1rem);
}
p,
nav a,
.vue-logo span {
  color: #2c3e50;
}
.vue-logo span {
  font-weight: 500;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}
.vue-logo img {
  min-width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
  vertical-align: top;
}
nav a:hover {
  text-decoration: underline #42b983 2px;
  text-underline-offset: 0.25em;
}
a {
  color: #42b983;
  text-decoration: none;
  font-weight: 500;
}
ul {
  line-height: 1.5;
}
ul {
  list-style-type: none;
}
