/* Colors
green #42b983 
header and link color #2c3e50;
link color #3eaf7c;
white: #ffffff
black: #222222 
grey: #f8f8f8
aqua: #42b883
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ffffff;
}

/***********************/
/* Site Content layout */
/***********************/

/* Navigation */
header.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaecef;
}
nav.site-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
nav.site-nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

aside.side-bar {
  border-right: 4px solid #cecece;
}

/* Images and Logo */
img {
  width: 100%;
}

.vue-logo {
  display: flex;
}

@media screen and (min-width: 500px) {
  @supports (display: grid) {
    div.wrapper {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
    header.site-header {
      grid-column: 1 / -1;
    }
    aside.side-bar {
      grid-row: span 2;
    }
    /*
  footer {
    grid-column: 2;
  }
  */
  }
}
